.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container .list {
  align-self: center;
}

.main-container .list li {
  cursor: pointer;
}
